In [1]:
import numpy as np
import pandas as pd

In [2]:
ipl18 = pd.DataFrame({'Team': ['SRH', 'CSK', 'KKR', 'RR', 'MI', 'RCB', 'KXIP', 'DD'],
                         'Matches': [14, 14, 14, 14, 14, 14, 14, 14],
                         'Won': [9, 9, 8, 7, 6, 6, 6, 5],
                         'Lost': [5, 5, 6, 7, 8, 8, 8, 9],
                         'Tied': [0, 0, 0, 0, 0, 0, 0, 0],
                         'N/R': [0, 0, 0, 0, 0, 0, 0, 0],
                         'Points': [18, 18, 16, 14, 12, 12, 12, 10],
                         'NRR': [0.284, 0.253, -0.070, -0.250, 0.317, 0.129, -0.502, -0.222],
                         'For': [2230, 2488, 2363, 2130, 2380, 2322, 2210, 2297],
                         'Against': [2193, 2433, 2425, 2141, 2282, 2383, 2259, 2304]},
                         index = range(1,9)
                    )

ipl18

   Team  Matches  Won  Lost  Tied  N/R  Points    NRR   For  Against
1   SRH       14    9     5     0    0      18  0.284  2230     2193
2   CSK       14    9     5     0    0      18  0.253  2488     2433
3   KKR       14    8     6     0    0      16 -0.070  2363     2425
4    RR       14    7     7     0    0      14 -0.250  2130     2141
5    MI       14    6     8     0    0      12  0.317  2380     2282
6   RCB       14    6     8     0    0      12  0.129  2322     2383
7  KXIP       14    6     8     0    0      12 -0.502  2210     2259
8    DD       14    5     9     0    0      10 -0.222  2297     2304

In [11]:
i = ipl18[ipl18['NRR']>0 ]
i[i['For']>i['Against']]

  Team  Matches  Won  Lost  Tied  N/R  Points    NRR   For  Against
1  SRH       14    9     5     0    0      18  0.284  2230     2193
2  CSK       14    9     5     0    0      18  0.253  2488     2433
5   MI       14    6     8     0    0      12  0.317  2380     2282

In [12]:
ipl18.describe()

,Matches,Won,Lost,Tied,N/R,Points,NRR,For,Against
count,8.0,8.000000,8.000000,8.0,8.0,8.000000,8.000000,8.000000,8.000000
mean,14.0,7.000000,7.000000,0.0,0.0,14.000000,-0.007625,2302.500000,2302.500000
std,0.0,1.511858,1.511858,0.0,0.0,3.023716,0.300004,112.158052,106.169676
min,14.0,5.000000,5.000000,0.0,0.0,10.000000,-0.502000,2130.000000,2141.000000
25%,14.0,6.000000,5.750000,0.0,0.0,12.000000,-0.229000,2225.000000,2242.500000
50%,14.0,6.500000,7.500000,0.0,0.0,13.000000,0.029500,2309.500000,2293.000000
75%,14.0,8.250000,8.000000,0.0,0.0,16.500000,0.260750,2367.250000,2393.500000
max,14.0,9.000000,9.000000,0.0,0.0,18.000000,0.317000,2488.000000,2433.000000

In [3]:
ipl17 = pd.DataFrame({'Team': ['MI', 'RPS', 'SRH', 'KKR', 'KXIP', 'DD', 'GL', 'RCB'],
                         'Matches': [14, 14, 14, 14, 14, 14, 14, 14],
                         'Won': [10, 9, 8, 8, 7, 6, 4, 3],
                         'Lost': [4, 5, 5, 6, 7, 8, 10, 10],
                         'Tied': [0, 0, 0, 0, 0, 0, 0, 0],
                         'N/R': [0, 0, 1, 0, 0, 0, 0, 1],
                         'Points': [20, 18, 17, 16, 14, 12, 8, 7],
                         'NRR': [0.784, 0.176, 0.469, 0.641, 0.123, -0.512, -0.412, -1.299],
                         'For': [2407, 2180, 2221, 2329, 2207, 2219, 2406, 1845],
                         'Against': [2242, 2165, 2118, 2300, 2229, 2255, 2472, 2033]},
                         index = range(1,9)
                    )

ipl17

   Team  Matches  Won  Lost  Tied  N/R  Points    NRR   For  Against
1    MI       14   10     4     0    0      20  0.784  2407     2242
2   RPS       14    9     5     0    0      18  0.176  2180     2165
3   SRH       14    8     5     0    1      17  0.469  2221     2118
4   KKR       14    8     6     0    0      16  0.641  2329     2300
5  KXIP       14    7     7     0    0      14  0.123  2207     2229
6    DD       14    6     8     0    0      12 -0.512  2219     2255
7    GL       14    4    10     0    0       8 -0.412  2406     2472
8   RCB       14    3    10     0    1       7 -1.299  1845     2033

In [5]:
ipl18.iloc [0:4, [0, 6]]

  Team  Points
1  SRH      18
2  CSK      18
3  KKR      16
4   RR      14

In [13]:
ipl18.loc [1:4, [‘Team’, ‘Points’]]

SyntaxError: invalid character in identifier (<ipython-input-13-fb24bb2a45f9>, line 1)

In [7]:
ipl18.loc [0:3, [‘Team’, ‘Points’]]

SyntaxError: invalid character in identifier (<ipython-input-7-6712c56f90c5>, line 1)

In [16]:
ipl18[ipl18.groupby('Team')]
ip17[ipl17.groupby('Team')]

KeyError: 0