# Python Basics - Session 2

## Data Structures

+ Data structures:<br/>
<b>Lists, Tuples, Sets & Dictionary</b>

## Lists

+ Lists, along with dictionary, are perhaps most important data types.
- Lists are an ordered sequnce of <b>mixed data types.</b>
+ A list contains items separated by commas and enclosed within square brackets ([]).

In [1]:
list1 = ['Managers','are', 'the', 'next']
print(list1)

['Managers', 'are', 'the', 'next']

In [2]:
# List Indexing
print(list1[0])

Managers

In [3]:
# List Slicing
print(list1[1:3])

['are', 'the']

In [4]:
print(list1[0:2])

['Managers', 'are']

In [5]:
print(list1[-1])

next

In [6]:
print(list1[2:])

['the', 'next']

In [7]:
print(list1[ :-3])

['Managers']

### Concatenation

In [8]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]
l3 = l1 + l2
print(l3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
##Concatenating two lists into the first list
l1 = l1 + l2
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Repetition

In [10]:
l1*2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Append

In [11]:
## Extending a list by one character
print(list1)
list1.append('leaders')
print(list1)

['Managers', 'are', 'the', 'next']
['Managers', 'are', 'the', 'next', 'leaders']

### Extend

In [12]:
## Why not append a list?
list_org = ['why','not','append']
list_new = ['instead','of','extend']
list_org.append(list_new)
print(list_org)

['why', 'not', 'append', ['instead', 'of', 'extend']]

In [13]:
## Extending a list by one list
list_org.extend(list_new)
print(list_org)

['why', 'not', 'append', ['instead', 'of', 'extend'], 'instead', 'of', 'extend']

### Insert

In [14]:
list_org.insert(3,'this is why')
print(list_org)

['why', 'not', 'append', 'this is why', ['instead', 'of', 'extend'], 'instead', 'of', 'extend']

### Remove

In [15]:
list1 = ['Managers','are', 'the', 'next']
list1.remove('the')
print(list1)

['Managers', 'are', 'next']

### List operations

In [16]:
nums = [2,6,9,3,2,1]
print(len(nums))

6

In [17]:
print(max(nums))

9

In [18]:
print(min(nums))

1

### Nesting

In [19]:
nest = [[1, 2, 3, 4], [ 5, 6, 7], [8, 9, 10]]
print(nest[1])

[5, 6, 7]

In [20]:
print(nest[0][1])

2

In [21]:
print(nest[0:2])

[[1, 2, 3, 4], [5, 6, 7]]

### Split and Join

In [22]:
a_sentence = "Hi Saif, this is to inform you that I'm not well today."

In [23]:
words_in_sentence = a_sentence.split() 
print(words_in_sentence)

['Hi', 'Saif,', 'this', 'is', 'to', 'inform', 'you', 'that', "I'm", 'not', 'well', 'today.']

In [24]:
words_in_sentence = a_sentence.split(',') 
print(words_in_sentence)

['Hi Saif', " this is to inform you that I'm not well today."]

In [25]:
sentence = " ".join(words_in_sentence)
print(sentence)

Hi Saif  this is to inform you that I'm not well today.

### Sorting Lists

In [26]:
l = [32, 24, 65, 9]
l.sort()
l

[9, 24, 32, 65]

In [27]:
l.sort(reverse= True)
l

[65, 32, 24, 9]

#### Difference between sort and sorted

In [28]:
A = ["Orange", "Strawberry", "Mango"]
print(A.sort())

print(A)

None
['Mango', 'Orange', 'Strawberry']

In [29]:
A = ["Orange", "Strawberry", "Mango"]
print(sorted(A))

print(A)

['Mango', 'Orange', 'Strawberry']
['Orange', 'Strawberry', 'Mango']

### Shallow Copying

In [30]:
A = ["Orange", "Strawberry", "Mango"]
B = A

A[0] = "Apple"

In [31]:
A

['Apple', 'Strawberry', 'Mango']

In [32]:
B

['Apple', 'Strawberry', 'Mango']

In [33]:
A = ["Orange", "Strawberry", "Mango"]
B = A[:]

A[0] = "Apple"

In [34]:
A

['Apple', 'Strawberry', 'Mango']

In [35]:
B

['Orange', 'Strawberry', 'Mango']

## Poll 1

<h1> Tuples </h1>

- Tuples are an ordered sequnce of mixed data types.
- Tuples are written as comma-separated  elements within parenthesis
- A tuple is a sequence of immutable Python objects

In [36]:
city_tuple = ("Mumbai", 18.9949521, 72.8141853) 
print(city_tuple)

('Mumbai', 18.9949521, 72.8141853)

### Immutability of tuples

In [37]:
city_tuple[1] = 13
print(city_tuple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
c = list(city_tuple)
print("c is:", c)
print(type(c))

c = tuple(c)
print("c is now a tuple:",c)

### Packing and Unpacking In Tuples

In [38]:
t = (1,2,3,4)     # Packing 
(a,b,c,d) = t     # Unpacking 
print (a)

1

#### dir() - to view the attributes or methods of an object

In [39]:
t = ()
print(dir(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

<h1> Sets </h1>

- Sets are a type of collection like lists and tuples, storing mixed data.
- Sets are enclosed within curly brackets and elements are written as comma-separated.
- Sets are unordered
- Sets does not allow duplicates

In [40]:
l = [1,3,2,4,5,5]

set_l = set(l)

set_l

{1, 2, 3, 4, 5}

In [41]:
len(set_l)

5

In [42]:
a = {1, 2, 3, 4, 5}

a.add("India")

a

{1, 2, 3, 4, 5, 'India'}

In [43]:
a.add("India")
a

{1, 2, 3, 4, 5, 'India'}

In [44]:
a = {1, 2, 3, 4, 5, "India"}
a.remove("India")
a

{1, 2, 3, 4, 5}

In [45]:
# Set Operations

A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

In [46]:
print(A | B) # Union

{0, 1, 2, 3, 4, 5, 6, 8}

In [47]:
print(A & B) # Intersection

{2, 4}

In [48]:
print(A - B) # Difference

{0, 8, 6}

In [49]:
print(A ^ B) # Symmetric Difference

{0, 1, 3, 5, 6, 8}

## Dictionary

- A dictionary stores element as keys and values pairs.
+ List vs. Dictionary
- The key is like an index, its is always unique and immutable. 
- The values are the objects that contain information.
- Values are accessed using their keys.
- Each key is followed by a value separated by a colon. 
- The values can be immutable, mutable, and duplicates. 
- Each key and value pair is separated by a comma enclosed inside curly brackets.

### Initialising

In [50]:
bio_data = {'Name': 'Bob Marley', 'Age': 35, 'Height':'5.6 ft', 'Hobby': 'Music'}
print(bio_data)

{'Name': 'Bob Marley', 'Age': 35, 'Height': '5.6 ft', 'Hobby': 'Music'}

In [51]:
bio_data['Age']

35

In [52]:
bio_data['Name']

'Bob Marley'

### Implementation: key-value pairs

### Edit values

In [53]:
bio_data['Age'] = 36
print(bio_data)

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music'}

### Add another key-value pair

In [54]:
bio_data['Profession'] = 'Singer'
print(bio_data)

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music', 'Profession': 'Singer'}

### Check presence of a key in dictionary

In [55]:
print('Profession' in bio_data)

True

In [56]:
print('Pincode' in bio_data)

False

### List entire keys/values

In [57]:
#get list of keys
print(list(bio_data.keys()))

#get list of values
print(list(bio_data.values()))

['Name', 'Age', 'Height', 'Hobby', 'Profession']
['Bob Marley', 36, '5.6 ft', 'Music', 'Singer']

### Delete values

In [58]:
del bio_data['Hobby']
print(bio_data)

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Profession': 'Singer'}

### Find Key using value

In [59]:
list(bio_data.keys())[list(bio_data.values()).index(35)]

ValueError: 35 is not in list

## Poll 2

## Loops
+ Loops are code blocks that are performed  repeatedly a certain number of times.
+ It is an important part of performing operations – whether it is looping over a range of numbers, numbers in an array, items in a list, keys and values in a dictionary, etc.

## 1) For Loop

The for..in statement is looping statement which iterates over a sequence of objects i.e. go through each item in a sequence. A sequence is just an ordered collection of items.

In [60]:
for i in range(1,5):
    print(i)

1
2
3
4

In [61]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [62]:
# different variations in range

range(1, 100, 2) # gives numbers from 1 to 100 with a step count of 2
range(100, 0, -1) # gives a reversed sequence of numbers from 100 to 1

range(100, 0, -1)

### Looping on a string

In [63]:
my_string = "Mary had a little lamb"

for alphabet in my_string:
    print(alphabet)

M
a
r
y

h
a
d

a

l
i
t
t
l
e

l
a
m
b

In [64]:
vowels = ''
for alphabet in my_string:
    if alphabet in 'aeiou':
        vowels += ' ' + alphabet
print(vowels)

 a a a i e a

### Looping on a List

In [65]:
# iterate over list of integers

l = [1,3,4,2,5,6]
for i in l : 
    print(i)

1
3
4
2
5
6

### Looping on a Dictionary

In [66]:
students_data = {1:['Shivam', 24] , 2:['Udit',25], 3:['Sonam', 26], 4:['Saif',24], 5:['Harry',27]}

In [67]:
for key, val in students_data.items():
    print(key, val)

1 ['Shivam', 24]
2 ['Udit', 25]
3 ['Sonam', 26]
4 ['Saif', 24]
5 ['Harry', 27]

In [68]:
for key in students_data.keys():
    print(key)

1
2
3
4
5

In [69]:
for val in students_data.values():
    print(val)

['Shivam', 24]
['Udit', 25]
['Sonam', 26]
['Saif', 24]
['Harry', 27]

In [70]:
count = 0
for key, val in students_data.items():
    if val[1] < 25:
        count += 1
        print(val[0])

print("No. Students with Age < 25 are", count)

Shivam
Saif
No. Students with Age < 25 are 2

## 2) While Loop

The while statement allows you to <b>repeatedly execute</b> a block of statements as long as a condition is true. A while statement is an example of what is called a looping statement. A while statement can have an optional else clause.

In [71]:
count = 0
while (count < 9):
    print ('The count is:', count)
    count = count + 1
print ("End of while loop!")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
End of while loop!

### Comprehensions
When we have large amount of code, to make codes more concise and small, comprehensions can be used.

#### List comprehension

In [72]:
# Traversing a list
# Guess What is the output
l = []
for num in range(1,10):
    l.append(num**2)
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [73]:
sq = [i**2 for i in range(1,10)]
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [74]:
l = []
for num in range(1,10):
    if num < 5:
        l.append(num**2)
print(l)

[1, 4, 9, 16]

In [75]:
sq = [i**2 for i in range(1,10) if i < 5]
print(sq)

[1, 4, 9, 16]

#### Dictionary comprehension

In [76]:
# Example on dictionary comprehension

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a dictionary consisting of element and length of each element from the above list

d = {i : len(i) for i in l1}

print(d)

{'automobiles': 11, 'Honda': 5, 'Benz': 4, 'Suzuki': 6, 'Morris Garages': 14}

### Break statement

The break statement is used to break out of a loop statement i.e. stop the execution of a looping statement, even if the loop condition has not become False or the sequence of items has not been completely iterated over.

An important note is that if you break out of a for or while loop, any corresponding loop else block is not executed.

In [77]:
for i in range(10):
       if i == 5:
           break
       print (i)
print('Done')

0
1
2
3
4
Done